.list {
  &__add-button {
    opacity: 0.4;
    &:hover {
      opacity: 1.0
    }
  }
  margin-bottom: 20px;
    li{
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 12px;

      &.active {
        background-color: #fff;
        box-shadow: 0px 3px 10px rgba(0, 0, 0 ,0.85);
        border-radius: 4px;
      }
      i {
        display: inline-flex;
        margin-right: 10px;
        svg{
          path {
            fill : #7c7c7c;
          }
        }
      }

    }
  }
