.tasks {
  flex: 1;

  &__items {
    .removeIcon img {
      opacity: 0;
      margin-left: 15px ;
    }
    &:hover img {
      opacity: 0.5;
    }
  }
  &__form {
    margin-left: 61px;
    margin-top: 20px;

    &-new {
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.4;
      transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 0.9;
      }
    }
    &-input {
      input {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        //border: #7c7c7c;
      }
      .buttons {
        margin-top: 10px;
        .cancelButton {
          border-radius: 4px;
          border: 0px;
          padding: 10px 20px;
          cursor: pointer;
          margin-left: 10px;
          &:hover {
            background-color: #a5a0a0;
          }
        }
        button {
          &:disabled {
            background-color: #848080;
          }
        }
      }
    }
    span {
      margin-left: 18px;
    }
    img {
      height: 20px;
      width: 20px;
    }

  }
  &:hover {
    cursor: pointer;
  }
  &__title {
    margin-top: 60px;
    margin-left: 60px;
    color: #FFBBCC;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;

    &:hover {
      img {
        opacity: 0.2;
      }
    }
  }

  h2{
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #7c7c7c;
  }

  .penSvg {
    margin-left: 15px;
    opacity: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .checkbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 60px;
    input {
      display: none;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #e8e8e8;
      border-radius: 30px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      svg {
        opacity: 0;
      }
      &:hover svg {
       display: block;
       opacity: 0.5;
      }
    }
    p {
      margin-left: 15px;
    }
    input:checked + label {
      background-color: #4dd599;
      border-color: #4dd599;
      svg {
        opacity: 1;
        path{
          stroke: #ffffff;
        }
      }
    }


  }
}

